*{
    margin:  0;
    padding: 0;
}

@font-face {
    font-family: 'FontDigital';
    src: url('font/digital-7.ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    min-height: 100vh;
    font-family: 'FontDigital';
    background-color: #1E1E1E;
}

main{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
main h1{
    color: #FFC813;
    font-size:  6rem;
}
main p{
    color: #4FB8FE;
    font-family: sans-serif;
}